@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,700;1,500;1,600&display=swap');

*{
    border: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}
body{
    background-color: #181824;
    .image{
        background-image: url(../images/bg-desktop-dark.jpg);
        background-size: cover;
        height: 35vh;
    }
    main{
        position: absolute;
        top: 10vh;
        bottom: 0px;
        display: grid;
        grid-template-columns: 19vw 30vw 30vw 19vw;
        grid-template-rows: 60px repeat(3, 40px);
        #todo{
            grid-column: 2/4;
            display: flex;
            justify-content: space-between;
            h1{
                color: white;
            }
            .theme{cursor: pointer;}
        }
    }
}
.items_container{
    grid-column: 2/4;
    grid-row: 2/3;
}
#items{
    grid-row: 4/5;
    grid-column:2/4 ;
}
.list_items{
    width: 100%;
    border-collapse: collapse;
    td{
        background-color: #25273C;
        color: #9395AE;
        border-bottom: 1px solid  #777A92; 
        height: 40px;
        display: flex;
        align-items: center;
    }
}
.circle{
    height: 20px;
    width: 20px;
    background: #25273C;
    border: 1px solid #707070;
    border-radius: 10px;
    cursor: pointer;
    margin-right: 10px;
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.status{
    display: flex;
    width: 100%;
    justify-content: space-around;
    #all{
        color: #07F3E3;
        cursor: pointer;
    }
}
#todo_items{
    height: 40px;
    width: 100%;
    background-color: #25273C;
    border-radius: 99px;
    padding-left: 20px;
    font-size: 13pt;
}
#todo_items:focus{
    outline: none;
    caret-color: #9395AE;
}